<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
  <test thread-count="100" name="Test_Branch">
  <classes>
  <class name = "Automation.Testing.TC01_AppiumIPADLogin"/>
  <class name = "Automation.Testing.TC02_AppiumIPADLogin"/>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
